@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&display=swap');

.link-bar{
	background-color: black;
	overflow: hidden;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: fixed;
  	top: 0;
	left: 0;
  	width: 100%;
	z-index: 1;
}

.link-bar a {
	color: white;
	text-align: center;	
	font-family: "Helvetica Neue", "Arsenal", sans-serif;
	float: center;
	color: white;
	padding: 14px 16px;
	font-size: 48px;
	text-decoration: none;	
}

.link-bar a:hover {
	background-color: white;
	color: black
}

.link-bar li {
	display: inline;
	list-style-type: none;
	margin: 10;
	padding: 0;
}

.albShow img {
	position: relative;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	padding: 20px;
	border-radius: 15px;
	width: 275px;
	height: 275px;
}

.albShow table {
	margin-left: auto;
	margin-right: auto;
	border-spacing: 10px;
}

.alb-bar img {
	position: relative;
	float: left;
	height: 300px;
	width: 300px;
}

.alb-bar ol {
	position: absolute;
	background-color: antiquewhite;
	width: 300px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	left: 0px;
	font-size: larger;
}

.alb-bar a {
	text-decoration: none;
	color: black;
	font-family: "Helvetica Neue", "Arsenal", sans-serif;
	display: block;
	padding: 8px 16px;
}

.alb-bar a:hover {
	background-color: gold;
}

.album-summaries h1, h2, h3, h4, h5, h6, p {
	margin-left: 300px;
	padding-left: 50px;
	opacity: 1;
	font-size: 52px;
	text-align: left;
}

.album-summaries h2 {
	opacity: 0.75;
	font-style: italic;
}

.privacy {
	position: relative;
	font-family: "Helvetica Neue", "Arsenal", sans-serif;
	text-align: center;
}

h1 {
	position: relative;
	font-family: "Archivo Black", sans-serif;
	color: black;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.5;
}

h2, h3, h5, h6{
	font-family: "Helvetica Neue", sans-serif;
	color: goldenrod;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: whitesmoke;
}

input {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}